h1 {
    color: White ;
    font-family: calibri;
    font-size: 300%;
}
h2 {
    color: White ;
    font-family: calibri;
    font-size: 175%
}
h3 {
    color: White ;
    font-family: calibri;
    font-size: 175%
}
h4 {
    color: White ;
    font-family: calibri;
    font-size: 175%
}
li {
    color: Black;
    font-family: calibri;
    font-size: 100%;
}
p  {
    color: black;
    font-family: calibri;
    font-size: 100%;
}
body {
    background-color: Wheat;
}
