body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes rotatee {
  from{transform:rotateY(0deg)}

    to {transform:rotateY(360deg)}
  
}

/* .toto > span {
    animation: rotatee 3s linear infinite;
  display:inline-block;
}

#fadeout {
  opacity: 1;
  transition: 1s opacity;
  text-align: center;
  font-size:32px;
} */

@font-face {
  font-family: "Palanquin";
  src: url(./fonts/Palanquin-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat R";
  src: url(./fonts/Montserrat-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Adjust the z-index as needed */
}

#logo{ 
	position: 'absolute';
  top: 0;
	left:10; 
} 

